#portfolio {
	background: #ebeeee;
	padding-top: 90px;
	padding-bottom: 60px;
}

#portfolio h1 {
	font: 15px/24px "opensans-semibold", sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 48px;
	color: #95a3a3;
}

/* Portfolio Content using Flexbox */
#portfolio-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.portfolio-item {
	display: flex;
	flex-direction: column;
	margin-bottom: 36px;
	flex-basis: calc(25% - 20px);
	/* 4 items per row with spacing */
}

/* Adjust item styles */
.portfolio-item .item-wrap {
	background: #fff;
	overflow: hidden;
	position: relative;
	transition: all 0.3s ease-in-out;
}

.portfolio-item .item-wrap a {
	display: block;
	cursor: pointer;
}

.portfolio-item .item-wrap .overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	background: url("/assets/img/overlay-bg.png") repeat;
}

.portfolio-item .item-wrap .link-icon {
	display: block;
	color: #fff;
	height: 30px;
	width: 30px;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -15px;
	margin-top: -15px;
	transition: opacity 0.3s ease-in-out;
}

.portfolio-item .item-wrap img {
	vertical-align: bottom;
}

.portfolio-item .portfolio-item-meta {
	padding: 18px;
}

.portfolio-item .portfolio-item-meta h5 {
	font: 14px/21px "opensans-bold", sans-serif;
	color: #fff;
}

.portfolio-item .portfolio-item-meta p {
	font: 12px/18px "opensans-light", sans-serif;
	color: #c6c7c7;
	margin-bottom: 0;
}

/* Hover effects */
.portfolio-item:hover .overlay {
	opacity: 1;
}

.portfolio-item:hover .link-icon {
	opacity: 1;
}

/* Responsive styles */

/* For tablets: 3 items per row */
@media only screen and (max-width: 1024px) {
	.portfolio-item {
		flex-basis: calc(33.33% - 20px);
		/* 3 items per row */
	}
}

/* For smaller screens: stacked layout */
@media only screen and (max-width: 767px) {
	#portfolio-wrapper {
		margin: 0 14px;
	}

	.portfolio-item {
		flex-basis: 100%;
		/* Stacked */
	}
}